@model RoleMgtMVC.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="margin:50px">

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" disabled="disabled" />
                </div>
                <div class="form-group">
                    <label asp-for="UserRoleId" class="control-label"></label><span class="rq">*</span>
                    <select asp-for="UserRoleId" class="form-control" asp-items="@Model.UserRoles" disabled="disabled">
                        <option value="">Select User Role</option>
                    </select>
                </div>
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>   
</div>
</body>
</html>
